@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">

	
	<div class="agileits-top">
		@* <form asp-action="SendResetPasswordUrl"> *@
		<form asp-action="ForgetPassword" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
			<input type="email" class="form-control" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email"></span>
			<input type="submit" value="Reset Password">
		</form>

	</div>


