@model ResetPasswordViewModel


@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">

	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<input type="password" class="form-control" asp-for="NewPassword" placeholder="Password" required="">
			<br></br>
			<input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			
			<input type="submit" value="Reset Password">
		</form>
	
	</div>
</div>



